<!--<div class="modal-backdrop" data-modal> -->
<div class="modal-backdrop is-hidden" data-modal>
  <form class="modal">
    <button type="button" class="modal-button-close">
      <svg class="modal-close-icon">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal-general">
      <img class="modal-bookimage" src="./images/coming-soon.png" alt="Book image is coming soon" />
      <div class="modal-description">
        <p class="modal-bookname">book name</p>
        <p class="modal-author">author</p>
        <p class="modal-bookabout">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
          placeat cumque obcaecati ullam sed dolorum, aperiam alias omnis.
          Suscipit incidunt, qui eum nostrum laudantium officiis ea voluptatum
          earum consequatur eveniet.
        </p>
        <ul class="modal-link-list">
          <li>
            <a class="modal-link" href="#">
              <svg class="modal-social-icon">
                <use href="./images/amazon.png"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="modal-link" href="#">
              <svg class="modal-social-icon">
                <use href="./images/books.png"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="modal-link" href="#">
              <svg class="modal-social-icon">
                <use href="./images/booksshop.png"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="modal-button-addremove">
       add to shoplist
    </button>
    <div class="modal-subtitle">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit neque
      accusantium cupiditate a aliquid repellat sunt quam.
    </div>
  </form>
</div>
