.button {
  font-weight: $bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;

  padding: 14px 28px;

  color: var(--text-color);
  background-color: transparent;

  @include transition-multiple(color, background-color, scale);

  border: 2px solid var(--accent-primary);
  border-radius: 40px;

  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transform: translateX(-105%) skew(-25deg);
    height: 100%;
    width: 110%;
    background-color: var(--accent-primary);
    transition: transform 300ms;
  }

  &:hover,
  &:focus {
    color: white;

    &::before {
      opacity: 1;
      transform: translateX(-5%) skew(-25deg);
    }
  }
}