.switcher {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  display: flex;
}

.switch {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.switcher-slider {
  cursor: pointer;
  background: linear-gradient(#4f2ee8 0%, #686868 100%);
  transition: all 0.4s;
  position: absolute;
  inset: 0;
  box-shadow: inset 1px 1px 2px #0000001a;
}

.switcher-slider:before {
  content: '';
  height: 20px;
  width: 20px;
  background: linear-gradient(#fff 0%, #f7f7f7 100%);
  transition: all 0.4s;
  position: absolute;
  bottom: 2px;
  left: 2px;
  box-shadow: 1px 1px 2px #0000001a, 0 2px 2px #0000001a, 1px 2px 4px #0000001a;
}

input:checked + .switcher-slider {
  background: linear-gradient(#4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px #0000001a;
}

input:checked + .switcher-slider:before {
  transform: translateX(16px);
}

.switcher-slider {
  border-radius: 24px;
}

.switcher-slider:before {
  border-radius: 50%;
}

input:checked + .switcher-slider:before {
  background-color: #fff;
}
