.header {
  margin: 0px;
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  background: #fff;

  &__logo {
    color: $title-text-color;
    font-family: $font-Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }

    &.link span {
      color: $accent-color;
    }
  }
}
